<div class="d-flex align-items-center justify-content-center m-5">
  <div class="col-sm-12 col-md-8 col-lg-6">
    <div class="row ">
      <!-- Logo & Brand -->
      <div class="col-12 p-3">
        <div class="d-flex align-items-center">
          <div class="gradient-sunset rounded-3 p-3 me-3 shadow-sm" style="width: 50px; height: 50px;">
            <i class="fas fa-tasks text-white fs-4"></i>
          </div>
          <div>
            <h3 class="mb-0 text-primary-gradient fw-bold">TaskFlow Pro</h3>
            <small class="text-teal-light">Smart Task Management</small>
          </div>
        </div>
      </div>
      <div class="col-12 glass-effect p-3">
        <form [formGroup]="loginForm">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" formControlName="username" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control">
          </div>
          <button type="submit" (click)="onSubmit()" [disabled]="loginForm.invalid || isLoading"
            class="btn btn-primary">
            @if(isLoading){
            <span class="fas fa-spinner fa-spin"></span>
            }
            Submit
          </button>
        </form>

      </div>
    </div>
  </div>
</div>
