<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 glass-effect p-3">
      <form [formGroup]="loginForm">
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" formControlName="username" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" formControlName="password" class="form-control">
        </div>
        <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>
</div>
